@model sistemaAllqo.Models.Mascota

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCliente" class="control-label"></label>
                <select asp-for="idCliente" class ="form-control" asp-items="ViewBag.idCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="idRaza" class="control-label"></label>
                <select asp-for="idRaza" class ="form-control" asp-items="ViewBag.idRaza"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
