@model sistemaAllqo.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow">
    <div class="card-header">
        <h3 class="m-0 font-weight-bold text-primary float-left">REGISTRO DE CLIENTE</h3>
    </div>
    <form asp-action="Create">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="apellidos" class="control-label"></label>
                    <input asp-for="apellidos" class="form-control" />
                    <span asp-validation-for="apellidos" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="nombres" class="control-label"></label>
                    <input asp-for="nombres" class="form-control" />
                    <span asp-validation-for="nombres" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="dni" class="control-label"></label>
                    <input asp-for="dni" class="form-control" />
                    <span asp-validation-for="dni" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="correo" class="control-label"></label>
                    <input asp-for="correo" class="form-control" />
                    <span asp-validation-for="correo" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="numCelular" class="control-label"></label>
                    <input asp-for="numCelular" class="form-control" />
                    <span asp-validation-for="numCelular" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" hidden>
                    <label asp-for="estado" class="control-label"></label>
                    <input asp-for="estado" class="form-control" value="Pre-Registrado" />
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="idLugar" class="control-label"></label>
                    <select asp-for="idLugar" class="form-control" asp-items="ViewBag.idLugar"></select>
                </div>
                <div class="form-group col">
                    <label asp-for="direccion" class="control-label"></label>
                    <input asp-for="direccion" class="form-control" />
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-default">Back to List</a>
            <input type="submit" value="Registrar" class="btn btn-default mx-0 mb-2 mt-0 float-right" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
