@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Allqo</title>
</head>

<body>
    <div class="row">
        <form method="post" class="py-5">
            <h3 class="text-muted text-capitalize">Registrar Nuevo Usuario</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label>
                <p asp-for="Input.Email" class="label-txt">Ingresa tu correo: </p>
                <input asp-for="Input.Email" type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </label>
            <label>
                <p asp-for="Input.Password" class="label-txt">Ingresa tu contraseña: </p>
                <input asp-for="Input.Password" type="password" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </label>
            <button type="submit">Ingresar</button>
            <p class="text-muted mt-3">¿No tienes una cuenta?, <a asp-action="Register" asp-controller="Identity/Account">Registrate aquí</a></p>
        </form>
    </div>
    <script>
        $(document).ready(function () {

            $('.input').focus(function () {
                $(this).parent().find(".label-txt").addClass('label-active');
            });

            $(".input").focusout(function () {
                if ($(this).val() == '') {
                    $(this).parent().find(".label-txt").removeClass('label-active');
                };
            });

        });
    </script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>


