@model sistemaAllqo.Models.Reserva

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="card-header">
        <h3 class="m-0 font-weight-bold text-primary float-left">REGISTRO DE SESION</h3>
    </div>
    <form asp-action="Create">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="idServicio" class="control-label"></label>
                    <select asp-for="idServicio" class="form-control" asp-items="ViewBag.idServicio"></select>
                </div>
                <div class="form-group col">
                    <label asp-for="fechaSesion" class="control-label"></label>
                    <input asp-for="fechaSesion" class="form-control" />
                    <span asp-validation-for="fechaSesion" class="text-danger"></span>
                </div>
                <div class="form-group col" hidden>
                    <label asp-for="estado" class="control-label"></label>
                    <input asp-for="estado" class="form-control" value="Creado" />
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="idCliente" class="control-label"></label>
                    <select asp-for="idCliente" class="form-control" asp-items="ViewBag.idCliente"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="idTrabajador" class="control-label"></label>
                <select asp-for="idTrabajador" class="form-control" asp-items="ViewBag.idTrabajador"></select>
            </div>

        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-default">Back to List</a>
            <input type="submit" value="Create" class="btn btn-default float-right" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
